@charset "utf-8";
.completed-achievements{
    float: left;
    margin-top: 15px;
}

.achievements{
    float: right;
    margin-top: 15px;
}

.name{
    padding-top: 20px;
}

.Objectives-list ul{
    margin: 15px;
}

.curr-obj{
    float: left;
    padding-left: 125px;
}

.opt-obj{
    float: left;
}

.Objectives-list{
    padding-left: 50px;
    padding-right: 50px;
}

.Objectives-list h2{
    text-align: center
}
