@charset "utf-8";

.name{
    padding-top: 20px;
}

.completed-achievements{
    float: left;
    margin-top: 15px;
    width: 500px;
    height: 300px;
}

.achievements{
    float: right;
    margin-top: 15px;
    width: 500px;
    height: 250px;
}

.curr-obj{
    float: left;
    padding-left: 125px;
}

.Objectives-list ul{
    margin: 15px;
}

.Objectives-list{
    padding-left: 50px;
    padding-right: 50px;
}

.Objectives-list img {
    height: 150px;
    width: 150px;
}

.completed-achievements img{
    height: 100px;
    width: 100px;
    align-content: center;
}

.Objectives-list h2{
    text-align: center
}