.building-tips {
    width: 45%;
    margin-bottom: 1em;
}

.safety-tips {
    width: 45%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.tips {
    width: 45%;
    margin-bottom: 1em;
    margin-right: 1.5em;
}

.tips-2 {
    width: 45%;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1.5em;
}