.jumbotronTransp {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: white;
}

/*.jumbotronAddSell {*/
    /*padding: 30px;*/
    /*margin-bottom: 30px;*/
    /*margin-left: 85px;*/
    /*margin-right: 85px;*/
    /*font-size: 21px;*/
    /*font-weight: 200;*/
    /*line-height: 2.1428571435;*/
    /*background-color: #eeeeee;*/
    /*alignment: center;*/
/*}*/

.jumbotronAdd {
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 225px;
    margin-right: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    background-color: #eeeeee;
    alignment: center;
}

.jumbotronSell {
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 225px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    background-color: #eeeeee;
    alignment: center;
}

.tableSports {
    padding-left: -3000px;
    font-size: 21px;
    font-weight: 200;
    color: inherit;
    background-color: gainsboro;
}

.imageIcon {
    width:30px;
    height: 30px;
    border-radius: 35px;
}