body {
    background-color: #f3ffff;
}

.launchJumboTron {
    margin-top: 250px;
    background-color: rgba(238, 238, 238, .9);
}

.imageLandingPageWallpaper{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.editText{
    width: 500px;
    height: 35px;
    border: 1px solid #a9a9a9;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    display: flex;
    justify-content: center;
}


.myAuto{
    display:flex;
    align-items:center;
}

.traits-icon{
    margin: auto;
    width: 90px;
    height: 90px;
    margin-top: 10px;
    height: 115px;
}

.traitBox{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #fff;
    max-width: 20%;
    max-height: 20%;
    border: 1px solid rgba(0,0,0,.125);
}

.boxcontent{
    margin: 10px;
    text-align: center;
}

.label{
    text-align: center;
    font-size: 22px;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
}




