.tips-box {
    width: 95%;
    background-color: white;
}

.tips-button {
    margin-left: .5em;
    margin-bottom: .25em;
}

.tips-header {
    padding-top: .25em;
    text-align: center;
}

.tips-text {
    padding: .25em;
}