.finance-header {
    margin-bottom: 1em;
}

.left{
    padding-left: 3em;
}
.value-tips {
    margin-top: 1em;
    width: 100%;
    margin-left: 1em;
    margin-bottom: 1em;
}

.tuition-box {
    width: 97%;
    margin-left: .5em;
    margin-bottom: .5em;
    padding-left: 1em;
    padding-top: .25em;
}

.finance-log-box {
    width: 95%;
    margin-left: .5em;
    background-color: white;
    border: 2px solid gray;
}

.finance-log-box h3 {
    font-size: 125%;
    text-align: center;
    padding: .25em;
}

.finance-statistic-box {
    width: 95%;
    margin-left: .5em;
    background-color: white;
    border: 2px solid gray;
}

.finance-statistic-box h5 {
    margin-left: 1em;
}

.finance-statistic-box h3 {
    text-align: center;
    font-size: 125%;
    padding-top: .25em;
}

.tuition-graph-box {
    width: 90%;
    margin-left: 1em;
    margin-bottom: 3em;
    background-color: white;
    border: 2px solid gray;
}

.expense-graph-box {
    width: 90%;
    margin-left: 1em;
    background-color: white;
    border: 2px solid gray;
}


.finance-loan-contract-box {
    width: 95%;
    margin-left: .5em;
    background-color: white;
    border: 2px solid gray;
}

.finance-loan-contract-box h3 {
    font-size: 125%;
    text-align: center;
    padding: .25em 0;
}

.finance-loan-contract-box h6 {
    padding-left: .5em;
}

.finance-loan-table-box {
    margin-left: .5em;
    width: 95%;
    background-color: white;
    border: 2px solid gray;
}

.finance-loan-table-box h4 {
    text-align: center;
}

.loan-form {
    padding-left: 1em;
}

.form-button {
    margin-top: .75em;
    width: 45%;
    display: inline-block;
    margin-left: .25em;
}

.accept-button {
    margin: 1em .5em 1em 16em;
}

.loan-tab {
    padding-left: 1em;
}

.list-group {
    list-style-type: none;
}

.table {
    /*Reason for this negative margin is to push up the 2nd row towards the top to act like it was in the first without destroying the layout*/
    margin-top: -100px;
}

.loan-form-tab {
    display: inline-block;
}

.positive {
    color: limegreen;
}

.negative {
    color: red;
}
