.studentContainer {
    display: grid;
    margin-right: 20px;
    grid-template-columns: repeat(10,10%);
}

.studentElement {
    width: 55px;
    height: 55px;
    margin: 10px 15px 20px 15px;
    border-radius: 50%;
    background: #aaa;
    white-space: nowrap;
}

.studentElement:hover {
    background: #888;
    width: 60px;
    height: 60px;
    margin: 7.5px 10px 17.5px 12px;
}

.studentElement img {
    width: 100%;
    margin: auto;
    margin-top: -6px;
}

.studentElement p {
    font-size: xx-small;
    text-align: center;
    margin-top: 5px;
}

.id-card {
    width: 48%;
    height: 95%;
    float: left;
    position: relative;
    background: #5bc0de;
    border-style: solid;
    border-color: #5c5cf2;
    border-radius: .9em;
    margin: 15px;
    color: white;
    padding: 10px;
}

.panel-image {
    min-height: 64px;
    min-width: 66px;
    max-height: 64px;
    max-width: 66px;
}

.student-happiness-header {
    margin-top: 1em;
    text-align: center;
}

.card-deck{
    align-items: center;
    justify-content: center;

}

.collegeHappinessBar{
    padding-top: 2.1em;
}

.studentHappinessBars{
    width: 70%;
}

.studentHappinessBars h3{
    font-size: 120%;
}