body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik',"Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* DASHBOARD STYLE */

.container-fluid{
    padding-left: 0!important;
}

.sidebar {
    position: fixed;
    height: 100%;
    background: #e6e6ec!important;
    z-index: 100;
}

#logo{
    max-width: 320px;
    width: 100%;
    padding: 10%;
}

#dollar-sign{
    float: left;
    width: 3rem;
    padding: .5rem;
}

.topbar{
    border-right: 1px solid #9493a5;
    padding-top: 1rem;
    margin-top: 1rem;
}

.topbar-icon{
    float: left;
    max-width: 20%;
    max-height: 4rem;
    width: auto;
}

.topbar-text{
    float: right;
    width: 80%;
}

#last-bar{
    border: none;
}

.balance{
    width: 100%;
    padding: 10%;
}

.balance h3, .balance h5{
    padding: 0;
    margin: .25em 0;
}

.nav-item-icons {
    max-width: 22px!important;
    float: left;
    margin: 0 1rem;
}

.nav-item {
    color: #9493a5!important;
    margin: .5rem 0;
}

.nav-item:active{
    color: #455399!important;
}

main{
    margin-left: auto!important;
}

.playmode {
    width: 100%;
    margin: 2em 0;
}

.card-img-top{
    object-fit: scale-down;
}

.traitBox {
    width: 16%;
}