.page{

}

.Faculty{
    text-align: center;
}

.jumbotron{
    margin-left: 16em;
    margin-right: 16em;
}

#facultyMember{
    border: 5px #000000;
}

#title{
    font-size: 2em;
    font-weight: bold;
}

#facultyName{
    font-weight: bold;
    font-size: 1em;
    margin-left: 10em;
    margin-right: 20em;
    text-align: center;
}

#salary{
    margin-left: 5em;
    text-align: right;
    float: right;
}

#fire{
    margin-left: 0.5em;
    float:right;
}

#raise{
    margin-left: 35em;
}

.details{
    margin-left: 25em;
}

.tableContainer{
    margin-left: 15em;
}

#col-sm-4{
    margin-left: 15em;
}

table{
    margin-left: 8em;
    margin-right: 8em;
    border: 5px #000000;
    padding-bottom: 5em;
}

td{
    text-align: center;
}