.page{

}

/*h3{*/
/*    margin-left: 6em;*/
/*}*/

.pre-scrollable{
    max-height: 35em;
}

.list-group-item2:hover{
    background-color: #5bc0de;
}


/*.jumbotron{*/
/*    margin-left: 16em;*/
/*    margin-right: 16em;*/
/*}*/

.title{
    width: 50%;
    float: left;
}

.img{
    width: 25%;
    float: left;
}

#facultyMember{
    border: 5px #000000;
}

#title{
    font-size: 2em;
    font-weight: bold;
}

/*#facultyName{*/
/*    font-weight: bold;*/
/*    font-size: 1em;*/
/*    margin-left: 10em;*/
/*    margin-right: 20em;*/
/*    text-align: center;*/
/*}*/

#salary{
    margin-left: 5em;
    text-align: right;
    float: right;
}

#fire{
    margin-left: 0.5em;
    float:right;
}

#raise{
    margin-left: 35em;
}

.details{
    margin-left: 25em;
}

.tableContainer{
    margin-left: 15em;
}

.well well-sm{
    margin-left: 15em;
}

.faculty-tips {
    width: 45%;
    float: right;
}

#hideTips {
    margin-top: .4em;
}