.page{

}

/*h3{*/
/*    margin-left: 6em;*/
/*}*/

.pre-scrollable{
    max-height: 35em;
}

.list-group-item2:hover{
    background-color: #5bc0de;
}


/*.jumbotron{*/
/*    margin-left: 16em;*/
/*    margin-right: 16em;*/
/*}*/

.title{
    width: 50%;
    float: left;
}

.img{
    width: 25%;
    float: left;
}

#facultyMember{
    border: 5px #000000;
}

#title{
    font-size: 2em;
    font-weight: bold;
}

.facultyName{
    color: black;
    font-weight: bold;
    font-size: 1em;
    vertical-align: middle;
    line-height: 1em;
}

#salary{
    margin-left: 5em;
    text-align: right;
    float: right;
}

#fire{
    margin-left: 0.5em;
    float:right;
}

#raise{
    margin-left: 35em;
}

.details{
    margin-left: 25em;
}

.tableContainer{
    margin-left: 15em;
}

.well well-sm{
    margin-left: 15em;
}

.faculty-tips {
    width: 45%;
    float: right;
}

#hideTips {
    margin-top: .4em;
}

.memberInfoTitle{
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 75px !important;
}

.memberInfo{
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 125px !important;
    text-align: left;
    padding-left: 2em;
    margin: 1em;
    width: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 1em 1em 1em 1em;
}

.memberName{
    font-size: x-large;
}

#fireButton{
    margin: .5em .5em .5em .5em;
}

#raiseButton{
    margin: .5em .5em .5em .5em;
}

#raiseAmountField{
    margin: .5em .5em .5em .5em;
}

/*#giveRaiseLabel {*/
/*    margin: .5em .5em .5em .5em;*/
/*}*/